main {
    background-image: url(/assets/images/sass-partials1--Filip-Zrnzević.avif);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 3rem;
        color: #fff;
        font-family: sans-serif;
    }

    p {
        max-width: 600px;
        margin: 10px;
        color: #fff;
        font-family: sans-serif;
    }

    .main-btn {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: green;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4.5px #999;
        transition: background-color 0.5s ease-in, transform 0.2s ease;
        font-family: var(--secondary-font);
    }
    
    .main-btn:hover {
        background-color: lightgreen;
        color: #000;
    }
    
    .main-btn:active {
        background-color: lightgreen;
        box-shadow: 0 2.55px #666;
        transform: translateY(4px);
    }
    
}

